@import "tailwindcss";

.animation_layer {
    height: 1200px;
	background-position: center;
	background-size: auto 100%;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

#background{
    background-image: url(./assets/background.png);
}

#jungle1{
    background-image: url(./assets/jungle1.png);
}

#jungle2{
    background-image: url(./assets/jungle2.png);
}

#jungle3{
    background-image: url(./assets/jungle3.png);
}

#jungle4{
    background-image: url(./assets/jungle4.png);
}

#jungle5{
    background-image: url(./assets/jungle5.png);
}

#logoland{
    background-image: url(./assets/logo_land.png);
}

#man_on_mountain{
    background-image: url(./assets/man_on_mountain.png);
}

#mountains{
    background-image: url(./assets/mountains.png);
}

#black{
    background-image: url(./assets/BlackP.png);
}

/* Navbar */

.navbar {
  position: fixed;  
  width: 100%;
  z-index: 1;      
}

/* Projects */
.checkpoints div{
    border: solid 1px;
    padding: 1.5rem;
    border-radius: 2rem;
}

.timeline {
    position: relative;
    width: 40rem;
}

/* vertical center line, used "::before" instead of additional HTML element */
.checkpoints {
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    width: 3px; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%);    /* Truly centere it*/
    height: 100%;
    background-color: white;
    z-index: 0;
}

.checkpoints:nth-child(odd){    
    padding-left: 3rem;
    transform: translate(20rem);
}

.checkpoints:nth-child(even){
    padding-right: 3rem;
    transform: translate(-20rem)
}

/*dot*/
.checkpoints::before {
    content: "";
    position: absolute;
    top: 50%; 
    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
}

.checkpoints:nth-child(odd)::before{
    left: 0;
    transform: translate(-50%, -50%);
}

.checkpoints:nth-child(even)::before{
    right: 0;
    transform: translate(50%, -50%);
}

/*connecting line*/
.checkpoints::after{
    content:"";
    position:absolute;
    top:50%;
    width: 3rem;
    height: 2px;
    background: white;
}

.checkpoints:nth-child(odd)::after{
    left: 0;
    transform: translateY(-50%); 
}

.checkpoints:nth-child(even)::after{
    right: 0;
    transform: translateY(-50%); 
}