@import "tailwindcss";

body{
    font-family: "Roboto", sans-serif;

    width:100%;
    height:100vh;
    background-image:url("/bg.png");

    background-size:cover;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position:relative;   
}

/* Projects */
.checkpoints .card{
    /* border: solid 1px; */
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkpoints h1{
    /* color: #facc15; */
    font-size: large;

}

.timeline {
    position: relative;
    width: 40rem;
}

/* vertical center line, used "::before" instead of additional HTML element */
.checkpoints {
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    width: 2px; 
    top: 0;
    left: 50%; 
    transform: translateX(-50%);    /* Truly centere it*/
    height: 100%;
    background-color: white;
    z-index: 0;
    opacity: 0.5;
}

.checkpoints:nth-child(odd){    
    padding-left: 3rem;
    transform: translate(20rem);
}

.checkpoints:nth-child(even){
    padding-right: 3rem;
    transform: translate(-20rem)
}

/*dot*/
.checkpoints::before {
    content: "";
    position: absolute;
    top: 50%; 
    width: 0.7rem;
    height: 0.7rem;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    opacity: 0.8;
}

.checkpoints:nth-child(odd)::before{
    left: 0;
    transform: translate(-50%, -50%);
}

.checkpoints:nth-child(even)::before{
    right: 0;
    transform: translate(50%, -50%);
}

/*connecting line*/
.checkpoints::after{
    content:"";
    position:absolute;
    top:50%;
    width: 3rem;
    height: 2px;
    background: white;
    opacity: 0.5;
}

.checkpoints:nth-child(odd)::after{
    left: 0;
    transform: translateY(-50%); 
}

.checkpoints:nth-child(even)::after{
    right: 0;
    transform: translateY(-50%); 
}

/* hover effect */
.checkpoints .card{
    /* opacity: 0.7; */
    transition: 300ms ease-in-out;
}

.card:hover{
    opacity: 1;
    cursor:pointer;
}

.card:hover::before{
    opacity: 1;
}
.card {
  --x: -100px;
  --y: -100px;
  position: relative;
  background: radial-gradient(
    circle 200px at var(--x) var(--y),
    rgba(183, 11, 199, 0.3),  
    rgba(40, 0, 60, 0.322),    
    rgba(20, 0, 30, 0.308)   
  );
  transition: background 0.05s;
}


.checkpoints svg {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
}

/* skills */
@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } 
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.hover\:pause:hover {
  animation-play-state: paused;
}