@import "tailwindcss";


.animation, .animation_layer {
    height: 1200px;
}

.animation{
    display: block;
    position: relative;
    z-index: 10;
}

#background{
    background-image: url(./assets/background.png);
}

#jungle1{
    background-image: url(./assets/jungle1.png);
}

#jungle2{
    background-image: url(./assets/jungle2.png);
}

#jungle3{
    background-image: url(./assets/jungle3.png);
}

#jungle4{
    background-image: url(./assets/jungle4.png);
}

#jungle5{
    background-image: url(./assets/jungle5.png);
}

#land_logo{
    /* background-image: url(./assets/dark.jpg); */
    background-color: black;
    height: 100%;
    width: 100%;
}

#man_on_mountain{
    background-image: url(./assets/man_on_mountain.png);
}

#mountains{
    background-image: url(./assets/mountains.png);
}

/* #dark{
    background-image: url(./assets/dark.jpg);
} */

.animation_layer {
	background-position: center;
	background-size: auto 100%;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}

.animation_layer.parallax {
	position: fixed;
}

#dark_page {
  background-color: #210002;
  height: 100vh;
}
